{% extends "main.html"%} {% block content %}
<div
  class="row w-full mb-6 py-6 flex justify-between items-center border-b border-gray-2"
>
  <div>
    <h4>Contact List</h4>
  </div>
  <div>
    <a href="{% url 'contacts:contact-create' %}">New Contact</a>
  </div>
  <div>
    <a href="{% url 'contacts:contact-export'%}">Export</a><br />
    <a href="{% url 'contacts:contact-import'%}">Import</a>
  </div>
</div>
<div class="row row-cols-2 row-cols-md-3 g-2">
  {% for contact in contacts %}

  <div class="col">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">
          <a
            href="{% url 'contacts:contact-detail' contact.pk %}"
            style="font-size: 0.9rem"
          >
            <div>Name: {{ contact.first_name }} {{ contact.last_name }}</div>
            <div>Email: {{ contact.email }}</div>
          </a>
        </h5>
      </div>
    </div>
  </div>

  {% endfor %}
</div>
{% endblock content%}
