{% extends "main.html"%} {% block content %} {% load static %}

<h4>Contact Detail</h4>
<div class="card" style="width: 18rem;">
        <img
        src="{% static 'images/default-profile-photo.jpeg' %}"
        class="card-img-top"
        alt="profile-photo"
        style="width: 100%"
      />
  <div class="card-body">
    <h5 class="card-title">{{ contact.first_name }} {{ contact.last_name }}</h5>
    <p class="card-text"><div>Email: {{ contact.email }}</div>
    <div>Address: {{ contact.address_1 }}</div>
    <div>Address: {{ contact.address_2 }}</div>
    <div>City: {{ contact.city }}</div>
    <div>State: {{ contact.state }}</div>
    <div>Zip: {{ contact.zipcode }}</div>
    <div>Manager: {{ contact.user }}</div>
</p>

    <a href="{% url 'contacts:contact-update' contact.pk %}" class="btn btn-primary">Edit</a>
<a href="{% url 'contacts:contact-delete' contact.pk %}" class="btn btn-primary">Delete</a>
<br />

  </div>
</div>
<a href="{% url 'contacts:contact-list'%}">Back To Contact List</a>

{% endblock content%}
