{% extends "main.html" %} {% block content %}
<main>
  <div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold">Really Simple CRM</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">
        Manage your contact list on our platform with built in features such as
        creating, listing, updating and deleting contact information.
      </p>
      {% if request.user.is_authenticated %}
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <a
          class="btn btn-primary btn-lg px-4 gap-3"
          href="{% url 'contacts:contact-list' %}"
          >Open Contact List</a
        >
      </div>
      {% else %}
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <a class="btn btn-primary btn-lg px-4 gap-3" href="{% url 'signup' %}"
          >Sign Up</a
        >
        <a
          class="btn btn-outline-secondary btn-lg px-4"
          href="{% url 'login' %}"
          >Log In</a
        >
      </div>
      {% endif %}
    </div>
  </div>
</main>
{% endblock content %}
